.ads-section__container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    padding: 5px;
}


.ads-section__container button{
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 3px 3px rgba(128, 128, 128, 0.466);
}


.ads-section__ads-carousel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
    scrollbar-width: none; 
}


.ads-section__ad img{
    width: 200px;
    height: 300px;
    object-fit: contain;
    cursor: pointer;
    
}


.ads-section__ad {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    max-width: 200px;
    word-break: break-all;
}


.ads-section__ad-title {
    
}


.ads-section__ad-price {
    color: rgb(0, 119, 255)
}


.ads__section__header {
    margin-bottom: 0;
}