.chats__container {
    margin: 30px;
}


.messages-content-container {
    
    display: flex;
    gap: 30px;
    height: 80vh;
    
}


.chats__main {
    display: flex;
    gap: 20px;
}


.chats__contact-container img {
    width: 30px;
    height: 30px;
}


.messages-contacts-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    min-width: 300px;
}

.chats__contact-container {
    display: flex;
    gap: 15px;
    align-items: center;
    border: 1px solid rgba(173, 165, 165, 0.623);
    padding: 15px;
    cursor: pointer;
    
}


.chats__contact-container:hover {
    color: blue;
}


.chats__contact-selected {
    color: blue;
}


.chats__contact-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.chats__contact-username {
    font-weight: 600;
    font-size: 1.3rem;
}

.chats_contact-last-message-container {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    gap: 2px;
    color: rgb(82, 82, 82);
}





.chats__send-message-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}


.chats__send-message-container textarea {
    overflow: hidden;
    resize: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    width: 90%;
    color: white;
    background-color: rgb(20, 20, 20);
}

.chats__send-message-container img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.chats__message {
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.274);
    padding: 10px;
    padding-bottom: 20px; /* Extra space at the bottom for the timestamp */

    border-radius: 10px;
    align-items: center;
    word-wrap: break-word;
    max-width: 40%;
    min-width: 100px;
}




.chats__messages-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
    background-color: rgba(170, 170, 170, 0.171);
}


.chats__own-message {
    align-self: self-end;
    background-color: rgba(194, 194, 194, 0.397)
}


.chats__other-message {
    align-self: self-start;
}


.chats__message-content {
    max-width: 70%;
}


.chats__message-date {
    position: absolute;
    font-size: 0.9rem;
    bottom: 2px;
    right: 2px;
}


.chats__messages-area-container {
   display: flex;
   flex-direction: column;
   
   width: 50vw;
   min-width: 400px;
   flex: 3;
}


.chats__contact_username-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.chats__contact-unseen-messages {
    display: flex; /* Center content */
    align-items: center;
    justify-content: center;
    color: white;
    width: 20px;  
    height: 20px;
    border-radius: 50%;
    padding: 8px;
    background-color: red;
}


.chats__date-separator {
    align-self: center;
    color: rgb(75, 75, 75);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.chats__ad-info {
    align-self: center;
    color: rgb(236, 3, 3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60%;
    text-align: center;
}


.chats__ad-info-title {
    text-decoration: underline;
}


.chats__selected-user-container {
    display: flex;
    gap: 10px;
    align-items: center;
    color: blue;
}

.chats__selected-user-container img {
    width: 50px;
}

@media (max-width:850px) {
    .chats__hidden {
        display: none;
    }
    

    .messages-content-container {
        width: 100%;
    }

    .chats__messages-area-container {
        width: 90%;
    }

    .chats__container {
        margin: 10px;
    }

    .chats__send-message-container {
        width: 99%;
        
    }

    .chat-container {
        
    }
}