a {
    text-decoration: none;
    color: black;
}


.header-profile-pic {
    width: 40px;
    height: 40px;
}



.sidebar {
    position: fixed;
    top: 0;
    right: -600px;  /* Initially hidden */
    width: 250px;
    height: 100%;
    background: #333;
    color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: right 0.3s ease-in-out;
    display: none;
    flex-direction: column;
    gap: 15px;
    z-index: 10;
}


.sidebar.open {
    right: 0; /* Slide in */
}


.sidebar a:hover, .sidebar button:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}



.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex;
    margin: 20px;
    align-items: center;
    font-family: Arial, sans-serif;
}


.header-container h1 {
    margin: 0;
}


.header-right-container {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 1.2rem;
} 


.header-create-ad-container {
    display: flex;
    align-items: end;
    gap: 10px;
    cursor: pointer;
}


.header-create-ad-container img {
    width: 25px;
}

.header-create-ad-container:focus ,
.header-create-ad-container:hover {
    color: rgb(27, 87, 255);
}


.header-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.header-chat-container {
    display: flex;
    gap: 10px;
    align-items: end;
}


.header-chat-container:focus,
.header-chat-container:hover {
    color: rgb(27, 87, 255);
}

.header-chat-container img {
    width: 25px;
    height: 25px;
    
}


@media (max-width:700px) {
    .header-container {
        width: 95%;
        margin: 10px 10px 20px 10px;
    }

    .header-right-container {
        gap: 10px;
    }

    .header-text {
        display: none;
    }


    .sidebar {
        display: flex;
    }
}