a {
    text-decoration: none;
    color: black;
}


.header-profile-pic {
    width: 40px;
    height: 40px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex;
    margin: 20px;
    align-items: flex-end;
    font-family: Arial, sans-serif;
}


.header-container h1 {
    margin: 0;
}


.header-right-container {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 1.2rem;
} 


.header-create-ad-container {
    display: flex;
    align-items: end;
    gap: 10px;
    cursor: pointer;
}


.header-create-ad-container img {
    width: 25px;
}

.header-create-ad-container:focus ,
.header-create-ad-container:hover {
    color: rgb(27, 87, 255);
}


.header-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.header-chat-container {
    display: flex;
    gap: 10px;
    align-items: end;
}


.header-chat-container:focus,
.header-chat-container:hover {
    color: rgb(27, 87, 255);
}

.header-chat-container img {
    width: 25px;
    height: 25px;
    
}